{% extends 'main/layout.html' %}


{% block title %}
    book list
{% endblock %}

{% block main-content%}


<h1> Welcome to bookstore </h1>
<div class="d-flex justify-content-center align-items-center">
<a class="btn btn-success" style="  display: flex;justify-content: center;align-items: center;" href="{% url 'books:books-create' %}"> Create</a>
</div>
<h3>book list</h3>

<table class="table">
    <thead>
        <tr>
            <td> ID </td>
            <td> title </td>
            <td> Description </td>
            <td> rate </td>
            <td> views </td>


        </tr>   
    </thead>
    <tbody>
        {% for book in book_list %}
        <tr style="color:green" >
            <td>{{ book.id }} </td>
            <td>{{ book.title }} </td>
            <td> {{ book.description | truncatewords:3 | title }} </td>
            <td> {{ book.rate }} </td>
            <td> {{ book.views }} </td>
            <td> 
                <a class="btn btn-info" href="{% url 'books:books-show' book.id %}">show</a>
                <a class="btn btn-info" href="{% url 'books:update' book.id %}">update</a>
                <a class="btn btn-danger" href="{% url 'books:books-delete' book.id %}">delete</a>

            </td>


        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}